 <!-- Content starts here.... -->

    <div class="content">

        <a name="top"></a>

        <!-- Heading section -->

        <div class="jumbotron">
            <h1 class="display-4">
                Academics
            </h1>

            <p>Indian Institute Of Technology Bombay, being the most esteemed engineering institute of India, has seen many facets of students when it comes to academics. We get to see many aspects and attitudes of students in general towards academics at IIT Bombay.</p>
            <p>We surveyed the passing out batch to get a more thorough insight into students mentality towards the academic environment here at the institute.</p>
            <p>Here is an overview of the same.</p>

            <ul>
                <li>A total of 215 students filled the survey form and presented their views across a wide range of
                    questions ranging from departments to CPI to attitude towards academics and many more.</li>
                <li>From the total of 215 students, 211 students are graduating this year while the remaining 4 students
                    took extensions.</li>
                <li>Constantly recognized as the most decorated institute of the country, 95.2% of students agreed that
                    CPI plays a very important role.</li>
                <li>Upon asking, around 66% students said that they were highly enthusiastic about the core sector of
                    their department, which positively showed that they liked their department.</li>
            </ul>
            <br>

            <div style="text-align: center;">
                <a href="#dep-heading"> <button type="button" class="btn btn-style">Department</button> </a>
                <a href="#cpi-heading"> <button type="button" class="btn btn-style">CPI</button> </a>
                <a href="#interests-heading"> <button type="button" class="btn btn-style">Interests</button> </a>
                <a href="#attitude-heading"> <button type="button" class="btn btn-style">Attitude</button> </a>
                <a href="#attendance-heading"> <button type="button" class="btn btn-style">Attendance</button> </a>
                <a href="#teaching-heading"> <button type="button" class="btn btn-style">Teaching</button> </a>
                <a href="#honesty-heading"> <button type="button" class="btn btn-style">Honesty</button> </a>
            </div>

        </div>

        <!-- Subsections start -->

        <div id="dep-heading" style="text-align: center;">
            <hr>
            <h3> Department </h3>
            <hr>
        </div>

        <div class="jumbotron" id="branch">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Which Department you are from?</h4>
                        <p>This analysis shows that the awareness of the form was distributed among all the graduating
                            students. The majority of responses came from CS and Chemical Engineering department,
                            followed by Electrical Engineering and Mechanical Engineering.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-branch.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="degree">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>What Degree are you Graduating With?</h4>
                        <p>From the corresponding graduating students, a majority of them graduated with a B.Tech
                            degree. Additionally, 13% and 4% students graduated with Honors and Minors degree
                            respectively.</p>
                        <p>Among others, 13% were Dual Degree holders with additional 6% with a Minors and Honors degree
                            too. The remaining 2% were B.S certificate holders.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-degree.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="expectations">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How different was the reality compared to your expectations of your Department (before
                            coming to IIT)?</h4>
                        <p>Upon asking this question, 30.33% answered affirmatively to the question, saying, “It was
                            better than expected.” On a contrary, 29.85% said, “It was disappointing.” While the rest
                            39.81% were happy with what they received. </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-expectations.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div id="cpi-heading" style="text-align: center;">
            <hr>
            <h3> CPI </h3>
            <hr>
        </div>

        <div class="jumbotron" id="cpi">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>What was your CPI?</h4>
                        <p>The above graph clearly shows that a vast majority of students(79) were in between 8-9 CPI
                            group. The density around 8-9 is far more greater, followed by the 7-8 CPI group with a
                            total 54 students. Additional 39 students were in the CPI range of 9-10.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-cpi.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="cpi-role">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How important a role do you think one’s CPI plays?</h4>
                        <p>Gauging the responses of the students, most of them told that CPI does play an important role
                            and one should maintain a good level of CPI. 73.4% of the students rated the importance of
                            CPI, 4 and above. 21.8% rated it 3 and the rest 4.8% rated it below 3.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-cpi-role.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div id="interests-heading" style="text-align: center;">
            <hr>
            <h3> Interests </h3>
            <hr>
        </div>

        <div class="jumbotron" id="gauge">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Were you able to gauge your academic interests?</h4>
                        <p>While 57.8% of students were able to gauge their academic interests, the rest either got some
                            clarity or were still confused.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-gauge.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="core">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Were you interested in core?</h4>
                        <p>Upon asking their interests in Core, the plot shows that around 139 students out of 215
                            students were initially interested in Core Sector, which reduced to 112 at the end.</p>
                        <p>Similarly, the rest of the students showed no interested in the core sector when they joined
                            the institute, which got further lengthened to 45.5% from 34.1%.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-core.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="core-when">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>When did you lose/gain interest in core?</h4>
                        <p>With the follow up to the previous question, 47 students of the following 215 students lost
                            interest in core, while on the other hand, 24 others gained interest in the core sector.</p>
                        <p>
                        <p>While most of them said their interest remained the same throughout the period, 23% of them
                            stated they lost interest in their 2nd year and 3rd year both. Followed by this, 8% lost
                            their interest in their 1st year only, 6% in their 4th year and the rest 0.5% in their 5th
                            year(for DD).</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-core-when.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div id="attitude-heading" style="text-align: center;">
            <hr>
            <h3> Attitude </h3>
            <hr>
        </div>

        <div class="jumbotron" id="attitude">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>What was your general attitude towards your academic performance?</h4>
                        <p>Out of 215 students, 37.9% admitted that they were sincere but failed to reach their
                            potential. 34.1% just wanted a decent CPI, the other 30 students just wanted to sail
                            through. And the remaining rest 29 students agreed upon academics being their first priority
                            throughout and were sincere.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-attitude.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="regular">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How regularly did you study?</h4>
                        <p>About 65% of students studied just before quizzes and 21% of students studied just before the
                            midsems/endsems. Very few students stayed ahead of the class.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-regular.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="competition">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How competitive do you think the environment is here?</h4>
                        <p>Most of the students believe that the environment was farely competitive.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-competition.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div id="attendance-heading" style="text-align: center;">
            <hr>
            <h3> Attendance </h3>
            <hr>
        </div>

        <div class="jumbotron" id="avgatt">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>On average, how many classes do you think you have attended?</h4>
                        <p>Highest 74 students attended 60-80% of the classes while only 10 students attended 0-20% of
                            lectures</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-avgatt.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="notatt">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>What were your reasons for not attending classes?</h4>
                        <p>Total 178 students stated that attending classes was not beneficial for them, 83 students
                            stated that they didn't attended classes because of laziness, while the remaining students
                            opted the other options.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-notatt.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="attendance">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Had you been given an option to not attend any class, how regularly would you have attended?
                        </h4>
                        <p>About 50% of students would have still regularly attended the lectures while the rest would
                            have either never attended the lectures or rarely or just before exams.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-attendance.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div id="teaching-heading" style="text-align: center;">
            <hr>
            <h3> Teaching </h3>
            <hr>
        </div>

        <div class="jumbotron" id="teaching">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How involving were the teaching methodologies adopted in the Institute?</h4>
                        <p>The rating above shows that most of the students were not happy with the teaching
                            methodologies in the Institute. Only 20.4% students rated the teaching methods in the
                            institute as good and very good. A majority of them rated the teaching methods in the
                            institute as average with a rating of 45.5%.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-teaching.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="impclass">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How effective do you think going to classes is?</h4>
                        <p>Most of the students think that attending classes was effective.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-impclass.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="flex">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How would you rate the institute on the grounds of academic flexibility? (in terms of
                            Minors, Credit System, ALC etc.)</h4>
                        <p>About 68% of students found the system to be to very flexible, while others had some issues
                            with it.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-flex.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div id="honesty-heading" style="text-align: center;">
            <hr>
            <h3> Honesty </h3>
            <hr>
        </div>

        <div class="jumbotron" id="honesty">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How honest were you with your academics?</h4>
                        <p>Highest 121 students stated that they were totally honest with their academics throughout
                            while only 4 students stated that they were dishonest. </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-honesty.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="propeller">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>What propelled you to use unfair means?</h4>
                        <p>No interest in the course was the most common reason that propelled students to use unfair
                            means.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-propeller.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="unfair-means">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>In which of the following did you indulge in unfair means?</h4>
                        <p>Almost half of the students said that they never cheated, and in the other half, most
                            students resorted to unfair means in assignments and homework.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Acad/acad-unfair-means.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center;">
            <a href="#top"> <button type="button" class="btn btn-style">Back to Top</button> </a> <br><br>
        </div>

        <app-footer></app-footer>
    </div>