<!-- Content starts here.... -->

    <div class="content">

        <!-- Heading section -->

        <div class="jumbotron">
            <h1 class="display-4">
                Academics
            </h1>

            <p>Navigate to the various subsections using these buttons.</p>

            <div>
                <a href="#part1" class="mr-3"> <button type="button" class="btn btn-style"> Part 1 </button> </a>
                <a href="#part2" class="mr-3"> <button type="button" class="btn btn-style"> Part 2 </button> </a>
                <a href="#partn"> <button type="button" class="btn btn-style"> Part n </button> </a>
            </div>
        </div>

        <!-- Subsections start -->

        <div class="jumbotron" id="part1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/example.jpg" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <p> Cheese strings port-salut fromage frais. Emmental cheesecake ricotta who moved my cheese
                            squirty cheese danish fontina lancashire cheese on toast. Babybel fromage lancashire paneer
                            dolcelatte monterey jack edam goat. Cheese strings. Croque monsieur ricotta ricotta. Cheese
                            slices swiss brie camembert de normandie danish fontina cheese triangles paneer say cheese.
                            Parmesan cheese strings jarlsberg fromage frais croque monsieur lancashire pepper jack
                            gouda. Cheese strings stilton everyone loves cheesecake queso caerphilly cauliflower cheese
                            fondue. Dolcelatte cheese on toast. Pepper jack parmesan jarlsberg. Hard cheese emmental
                            chalk and cheese parmesan blue castello st. agur blue cheese cheesecake fromage frais. Cream
                            cheese boursin paneer cauliflower cheese say cheese the big cheese cauliflower cheese
                            parmesan. Dolcelatte chalk and cheese say cheese who moved my cheese bavarian bergkase hard.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="part2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <p> Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace
                            holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab
                            barque interloper chantey doubloon starboard grog black jack gangway rutters. Deadlights
                            jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors.
                            Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on
                            account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm
                            spyglass sheet transom heave to. Trysail Sail ho Corsair red ensign hulk smartly boom jib
                            rum gangway. Case shot Shiver me timbers gangplank crack Jennys tea cup ballast Blimey lee
                            snow crow's nest rutters. Fluke jib scourge of the seven seas boatswain schooner gaff Jack
                            Tar transom spirits. </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/example.jpg" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="partn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/example.jpg" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <p> Cheese strings port-salut fromage frais. Emmental cheesecake ricotta who moved my cheese
                            squirty cheese danish fontina lancashire cheese on toast. Babybel fromage lancashire paneer
                            dolcelatte monterey jack edam goat. Cheese strings. Croque monsieur ricotta ricotta. Cheese
                            slices swiss brie camembert de normandie danish fontina cheese triangles paneer say cheese.
                            Parmesan cheese strings jarlsberg fromage frais croque monsieur lancashire pepper jack
                            gouda. Cheese strings stilton everyone loves cheesecake queso caerphilly cauliflower cheese
                            fondue. Dolcelatte cheese on toast. Pepper jack parmesan jarlsberg. Hard cheese emmental
                            chalk and cheese parmesan blue castello st. agur blue cheese cheesecake fromage frais. Cream
                            cheese boursin paneer cauliflower cheese say cheese the big cheese cauliflower cheese
                            parmesan. Dolcelatte chalk and cheese say cheese who moved my cheese bavarian bergkase hard.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>