/* Buttons and logos */

.btn-style {
  background-color: #111;
  color: #818181;
} 

.logo-style {
  font-weight: 100;
  font-family: Eczar;
  font-size: 80px;
  transition: 0.3s;
  margin: 0 auto 0 auto;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 250px;
  margin-right: 4px;
  padding: 16px 16px;
  height: 1000px;
  margin-bottom: 8px;
}

div.data-img{
  padding: 8px;
  height: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

/* On screens that are less than 768px wide, shift the content back to the left
and adjust the navbar */

@media screen and (max-width: 767px) {
  div.content {margin-left: 0;}
  div.content {margin-top: 8px;}
  .logo-style {font-size: 28px; padding: 2px; margin: 0;}
}