<div class="jumbotron">
            <div class="bottom">

                <div class="container p-3 my-3">

                    <div class="row">

                        <div class="col-sm-12">

                            <div class="mainlogo">
                                <a href="https://www.insightiitb.org/" target="_blank"><img
                                        src="assets/images/insightlogo.png" alt="Insight, IIT Bombay"></a>
                                <h5>Insight, IIT Bombay</h5>
                            </div>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-3">

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="https://summerblog.insightiitb.org/" target="_blank"><img
                                        src="assets/images/summerblog.png" alt="Summer Blog, Insight"></a>
                                <h5>Summer Blog, Insight</h5>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="http://seniorsurvey.insightiitb.org/" target="_blank"><img
                                        src="assets/images/seniorsurvey.png" alt="Senior Survey, Insight"></a>
                                <h5>Senior Survey, Insight</h5>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="http://gsmetre.insightiitb.org/" target="_blank"><img
                                        src="assets/images/gsmetre.png" alt="GS Metre, Insight"></a>
                                <h5>GS Metre, Insight</h5>
                            </div>

                        </div>

                    </div>
                <hr>

                <div class="row my-auto">

                    <div class="col-md-12">

                        <h6 id="pp">Copyright © 2020 Insight, IIT Bombay</h6>

                    </div>

                </div>
                <hr>

                <div class="row my-3" id="bottom">
                    <div class="col-2  text-center">
                        <a class="d-block" href="mailto:insight@iitb.ac.in/" target="_blank">
                            <i class="fa fa-google fa-3x mb-3" style="color: #1D6677;"></i>
                        </a>
                    </div>

                    <div class="col-2  text-center">
                        <a class="d-block" href="https://www.facebook.com/insight.iitbombay/" target="_blank">
                            <i class="fa fa-facebook fa-3x mb-3" style="color: #1D6677;"></i>
                        </a>
                    </div>

                    <div class="col-2  text-center">
                        <a class="d-block" href="https://www.instagram.com/insight_iit_bombay/" target="_blank">
                            <i class="fa fa-instagram fa-3x mb-3" style="color: #1D6677;"></i>
                        </a>
                    </div>

                    <div class="col-2  text-center">
                        <a class="d-block" href="https://twitter.com/insightiitb" target="_blank">
                            <i class="fa fa-twitter fa-3x mb-3" style="color: #1D6677; "></i>
                        </a>
                    </div>

                    <div class="col-2  text-center">
                        <a class="d-block" href="https://www.youtube.com/channel/UCzwz_VQHTKtfmwq0XT6OFaQ"
                            target="_blank">
                            <i class="fa fa-youtube fa-3x mb-3" style="color: #1D6677;"></i>
                        </a>
                    </div>
                </div>


            </div>

        </div>
    </div>