<!-- Content starts here.... -->

    <div class="content">

        <!-- Heading section -->

        <div class="jumbotron">
            <h1 class="display-4">
                Lifestyle
            </h1>

            <p>Indian Institute Of Technology Bombay, being the most esteemed engineering institute of India, has seen
                many facets of students when it comes to academics.</p>
            <p>We surveyed the passing out batch to get a more thorough insight into students mentality towards their
                lifestyle here at the institute. We get to see many aspects and attitudes of students
                in general towards their lifestyle at IIT Bombay.</p>
            <p>Here is an overview of the same.</p>
            <ul>
                <li>A total of 215 students filled the survey form and presented their views across a wide range of
                    questions ranging from General Lifestyle to Mental Health to Smoking Habits and many more.</li>
                <li>Around 36.28% of the students pegged their monthly expenditure between 1000 and 3000 Rupees,
                    while around 29% of the respondents spend over 5000 Rupees per month.</li>
                <li>Most of the students did not have any smoking habits, while a considerable (8.4%) number of
                    our responders admitted to being chain smokers, who smoked around a pack per day. Around
                    1-10th students admitted to smoking rarely(once in two-three weeks).</li>
            </ul>
            <br>

            <div id="buttons">
                <a href="#gen"> <button type="button" class="btn btn-style">General Lifestyle</button> </a>
                <a href="#mental"> <button type="button" class="btn btn-style">Mental Health</button> </a>
                <a href="#hyg"> <button type="button" class="btn btn-style">Hygiene</button> </a>
                <a href="#smoke"> <button type="button" class="btn btn-style">Smoking Habits</button> </a>
                <a href="#exp"> <button type="button" class="btn btn-style">Expenditure</button> </a>

            </div>
        </div>

        <!-- Subsections start -->
        <h3 id="gen">General Lifestyle</h3>
        <div class="jumbotron" id="gen1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Lifestyle/gen1.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How would you rate yourself on a scale of 5, regarding how disciplined and regular you were
                            in the
                            aspects of Sleep, Food, hygiene and Health?</h4>
                        <p>We found that people, as a group, were concerned about Hygiene the most, followed by Food,
                            and health. They were least concerned about their sleep schedule.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="gen2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Which of these places have you visited during your stay at IIT- Bombay?</h4>
                        <p>Library is the place where students had visited most frequently followed by Boat House and
                            Sameer Hill.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Lifestyle/gen2.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 id="mental">Mental Health</h3>
        <div class="jumbotron" id="mental1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Lifestyle/mental1.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How frequently did you consult a psychiatrist / doctor for mental health issues?</h4>
                        <p>More than half of our responders never needed it. Around a fifth needed help, but chose to
                            not go for consult with a doctor. Around a fourth have actually taken help from
                            Professionals.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 id="hyg">Hygeine</h3>
        <div class="jumbotron" id="hyg1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How often did you take a bath? (on an average)</h4>
                        <p>38.48% students used to take a bath everyday. More than 50% students had a bath once in two
                            or three days.</p>
                        <p>0.47% students a bath once a week/twice a semester.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Lifestyle/hyg1.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 id="smoke">Smoking Habits</h3>
        <div class="jumbotron" id="smoke1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Lifestyle/smoke1.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How often did you smoke?</h4>
                        <p>Most of the students did not have any smoking habits, while a considerable (8.4%) number of
                            our responders admitted to being chain smokers, who smoked around a pack per day. Around
                            1-10th students admitted to smoking rarely(once in two-three weeks).</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 id="exp">Expenditure</h3>
        <div class="jumbotron" id="exp1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Where do you peg your spending per month(in Rupees)?</h4>
                        <p>Around 36.28% of the students pegged their monthly expenditure between 1000 and 3000 Rupees,
                            while around 29% of the respondents spend over 5000 Rupees per month.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Lifestyle/exp1.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="exp2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Lifestyle/exp2.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>What was the major cause of your spending?</h4>
                        <p>Highest 85.12% spendings were on Food, followed by 6.51% on Travel, 6.05% on Alcohol and
                            2.33% on others.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons">
            <a href="#buttons"> <button type="button" class="btn btn-style">Back to Top</button> </a>
        </div>
        <div class="jumbotron">
            <div class="bottom">

                <div class="container p-3 my-3">

                    <div class="row">

                        <div class="col-sm-12">

                            <div class="mainlogo">
                                <a href="https://www.insightiitb.org/" target="_blank"><img
                                        src="assets/images/insightlogo.png" alt="Insight, IIT Bombay"></a>
                                <h5>Insight, IIT Bombay</h5>
                            </div>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-3">

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="https://summerblog.insightiitb.org/" target="_blank"><img
                                        src="assets/images/summerblog.png" alt="Summer Blog, Insight"></a>
                                <h5>Summer Blog, Insight</h5>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="http://seniorsurvey.insightiitb.org/" target="_blank"><img
                                        src="assets/images/seniorsurvey.png" alt="Senior Survey, Insight"></a>
                                <h5>Senior Survey, Insight</h5>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="http://gsmetre.insightiitb.org/" target="_blank"><img
                                        src="assets/images/gsmetre.png" alt="GS Metre, Insight"></a>
                                <h5>GS Metre, Insight</h5>
                            </div>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-auto">

                        <div class="col-md-12">

                            <h6 id="pp">Copyright © 2020 Insight, IIT Bombay</h6>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-3" id="bottom">
                        <div class="col-2  text-center">
                            <a class="d-block" href="mailto:insight@iitb.ac.in/" target="_blank">
                                <i class="fa fa-google fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.facebook.com/insight.iitbombay/" target="_blank">
                                <i class="fa fa-facebook fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.instagram.com/insight_iit_bombay/" target="_blank">
                                <i class="fa fa-instagram fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://twitter.com/insightiitb" target="_blank">
                                <i class="fa fa-twitter fa-3x mb-3" style="color: #1D6677; "></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.youtube.com/channel/UCzwz_VQHTKtfmwq0XT6OFaQ"
                                target="_blank">
                                <i class="fa fa-youtube fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>