<!-- Content starts here.... -->

    <div class="content">

        <!-- Heading section -->

        <div class="jumbotron">
            <h1 class="display-4">
                Personal
            </h1>

            <p>Indian Institute Of Technology Bombay, being the most esteemed engineering institute of India, has seen
                many facets of students when it comes to academics.</p>
            <p>We surveyed the passing out batch to get a more thorough insight into students mentality towards their
                personal life here at the institute. We get to see many aspects and attitudes of students
                in general towards their personal life at IIT Bombay.</p>
            <p>Here is an overview of the same.</p>
            <ul>
                <li>A total of 215 students filled the survey form and presented their views across a wide range of
                    questions ranging from Social Life to Relationships to Sexual Desires and many more.</li>
                <li>21.86% students spend less than 1 hour on social media, while 3.72% students spend whopping
                    more than 6 hours.</li>
                <li>The data shows that extrovertness of students has increased considerably during the stay at IIT
                    Bombay.</li>
            </ul>
            <br>

            <div id="buttons">
                <a href="#gender"> <button type="button" class="btn btn-style">Gender</button> </a>
                <a href="#social"> <button type="button" class="btn btn-style">Social Life</button> </a>
                <a href="#demo"> <button type="button" class="btn btn-style">Demographics</button> </a>
                <a href="#relate"> <button type="button" class="btn btn-style">Relationships</button> </a>
                <a href="#sexual"> <button type="button" class="btn btn-style">Sexual Desires</button> </a>

            </div>
        </div>

        <!-- Subsections start -->
        <h3 id="gender">Gender</h3>
        <div class="jumbotron" id="gender1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/gender1.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>What is your gender?</h4>
                        <p>90.23% correspondents identified themselves as male while 8.3% as female. The rest preferred
                            to choose the answers.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="gender2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How did you identify yourself in freshman year / as now ?</h4>
                        <p>96.71% students identified themselves as straight at the beginning of the freshie year while
                            the number was 93.89% at the time of graduation. Only 1.87% were unsure of their sexual
                            orientation as opposed to 2.35% at the beginning of the freshie year.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/gender2.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 id="social">Social Life</h3>
        <div class="jumbotron" id="social1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/social1.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How would you rate your social activity?</h4>
                        <p>When asked to rate themselves on a scale of 5, w.r.t. their social activity, and most people
                            seemed satisfied with it- as seen by the higher number of 4-5 ratings than the 1-2 ones.3.54
                            was the average rating people gave themselves on this meter.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="social2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How much time, on an average, did you spend on social media (i.e. Facebook, Twitter,
                            Instagram, Snapchat, Reddit etc.) in a day?</h4>
                        <p>21.86% students spend less than 1 hour on social media, while 3.72% students spend whopping
                            more than 6 hours.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/social2.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="social3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/social3.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Call yourself an extrovert or an introvert?</h4>
                        <p>The data shows that extrovertness of students has increased considerably during the stay at
                            IIT Bombay.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 id="demo">Demographics</h3>
        <div class="jumbotron" id="demo1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>You primarily grew up in a?</h4>
                        <p>32.56% students grew up in big cities, 5.12% students grew up in villages and rural areas.
                            Rest of the students grew up in small cities and towns</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/demo1.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="demo2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/demo2.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Which region would you call your native place?</h4>
                        <p>A vast majority of students identified Maharashtra as their home. Rajasthan came second
                            closely followed by Madhya Pradesh, Uttar Pradesh and Gujarat.

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 id="relate">Family & Relationships</h3>
        <div class="jumbotron" id="relate1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How close were you to your family while at college?</h4>
                        <p>60.93% students stated that they were very close to their family and they talked regularly.
                        </p>
                        <p>Whereas 2.79% students said that they didn't maintain a very good relations with family. </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/relate1.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="relate2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/relate2.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How many times you were in relationship during your stay?</h4>
                        <p>We sought to know the number of relationships each person had been in, and got to know
                            not-so-surprising results, with almost half people having no relationships, and almost all
                            others in 1-2 relationships. Very few (only 6.5%) of our responders have had more than 2
                            relationships.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="relate3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Have you dated someone while at IIT?</h4>
                        <p>55.29% students replied that they dated someone from or outside the Insti while 44.23% said
                            that they never dated anyone.
                        </p>
                        <p>0.48% students said that they tried to date someone but were
                            unsuccessfull.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/relate3.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="relate4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/relate4.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How was your interaction with opposite sex?</h4>
                        <p>A sizeable amount of people (2.3%) knew no one from the opposite sex, even as acquaintances,
                            while another group (of about 6% people) had more close friends in the opposite sex.</p>
                        <p>A large number of people had few acquaintances in the opposite sex, while an equal number had
                            a few close friends. A few (13.5%) people had many acquaintances in the opposite sex
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="relate5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How would you prefer to live after leaving the institute?</h4>
                        <p>46.98% students stated that they will prefer to live with their friends after leaving
                            institute,
                            while 8.84% students will prefer to live with their parents.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/relate5.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="relate6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/relate6.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>When do you plan to get married?</h4>
                        <p>0.47% students are already married while most of the students are planning to get married in
                            future.</p>
                        <p>40% students don't have any idea about their marriage. 8.38% students don't want to get
                            married at all!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="relate7">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/relate7.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Which dating app did you use?</h4>
                        <p>When asked about the use of dating apps, maximum people said that they never used one. Most
                            others had used dating apps rarely, and very few people had used them often.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 id="sexual">Sexual Desires</h3>
        <div class="jumbotron" id="sexual1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How often did you have sex while at IIT Bombay?
                        </h4>
                        <p>Given the sex ratio of the institute (and well, engineering in general); and the relationship
                            stats, this was a rather not-so-unexpected result; with about two-thirds of people having
                            never had sex in insti life.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/sexual1.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="sexual2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Personal/sexual2.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How often did you watch porn?</h4>
                        <p>When asked about their porn habits, most students confessed that they have watched it
                            regularly, at least for a part of their stay. However, around 10.7% students said that they
                            have watched porn rarely, while a sizeable (6%) portion of students said that they had never
                            watched porn. About 3.7% students preferred to skip the question.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons">
            <a href="#buttons"> <button type="button" class="btn btn-style">Back to Top</button> </a>
        </div>
        <div class="jumbotron">
            <div class="bottom">

                <div class="container p-3 my-3">

                    <div class="row">

                        <div class="col-sm-12">

                            <div class="mainlogo">
                                <a href="https://www.insightiitb.org/" target="_blank"><img
                                        src="assets/images/insightlogo.png" alt="Insight, IIT Bombay"></a>
                                <h5>Insight, IIT Bombay</h5>
                            </div>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-3">

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="https://summerblog.insightiitb.org/" target="_blank"><img
                                        src="assets/images/summerblog.png" alt="Summer Blog, Insight"></a>
                                <h5>Summer Blog, Insight</h5>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="http://seniorsurvey.insightiitb.org/" target="_blank"><img
                                        src="assets/images/seniorsurvey.png" alt="Senior Survey, Insight"></a>
                                <h5>Senior Survey, Insight</h5>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="http://gsmetre.insightiitb.org/" target="_blank"><img
                                        src="assets/images/gsmetre.png" alt="GS Metre, Insight"></a>
                                <h5>GS Metre, Insight</h5>
                            </div>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-auto">

                        <div class="col-md-12">

                            <h6 id="pp">Copyright © 2020 Insight, IIT Bombay</h6>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-3" id="bottom">
                        <div class="col-2  text-center">
                            <a class="d-block" href="mailto:insight@iitb.ac.in/" target="_blank">
                                <i class="fa fa-google fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.facebook.com/insight.iitbombay/" target="_blank">
                                <i class="fa fa-facebook fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.instagram.com/insight_iit_bombay/" target="_blank">
                                <i class="fa fa-instagram fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://twitter.com/insightiitb" target="_blank">
                                <i class="fa fa-twitter fa-3x mb-3" style="color: #1D6677; "></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.youtube.com/channel/UCzwz_VQHTKtfmwq0XT6OFaQ"
                                target="_blank">
                                <i class="fa fa-youtube fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>