<!-- Content starts here.... -->

    <div class="content">

        <a name="top"></a>

        <!-- Heading section -->

        <div class="jumbotron">
            <h1 class="display-4">
                Extracurricular Activities
            </h1>

            <p>Indian Institute Of Technology Bombay, being the most esteemed engineering institute of India, has seen many facets of students when it comes to academics.</p>
            <p>We surveyed the passing out batch to get a more thorough insight into students mentality towards the
              extracurriculars they have done here at the institute. We get to see many aspects and attitudes of students in general towards them.</p>
            <p>Here is an overview of the same.</p>
            <ul>
                <li>Among the total responses, 3.273 responses out of 5 are affirmative that holding a Position of
                    Responsibility has benefited them.</li>
                <li>Majority of the correspondents responded that they developed their organizational skills, followed by technical, sport, cultural and others. Very few responded that they did not pick up any skill.</li>
                <li>Majority of the students are either politically unbiased or inclined towards left.</li>
            </ul>
            <br>

            <div style="text-align: center;">
                <a href="#ext"> <button type="button" class="btn btn-style">Extracurricular Activities</button> </a>
            </div>

        </div>

        <!-- Subsections start -->
        <div id="ext" style="text-align: center;">
            <hr>
            <h3> Extracurricular Activities </h3>
            <hr>
        </div>

        <div class="jumbotron" id="ext1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Does Position of Responsibility has benefited your personality and/or helped you secure a
                            lucrative job oﬀer/admission?</h4>
                        <p>Among the total responses, 3.273 responses out of 5 are affirmative that Position of
                            Responsibility has benefited them.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Extra Curr/ext1.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>


        <div class="jumbotron" id="ext2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Did IIT help you develop/pick-up any skill?</h4>
                        <p>Majority of the correspondents responded that they developed their Organizational skills
                            ,followed by Technical ,Sport ,Cultural and others. Very few responded as they did not pick
                            any skill.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Extra Curr/ext2.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="ext3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How would you describe your political leaning?</h4>
                        <p>Majority of the students are either politically unbiased or inclined towards left.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Extra Curr/ext3.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center;">
            <a href="#top"> <button type="button" class="btn btn-style">Back to Top</button> </a> <br><br>
        </div>
        
        <app-footer></app-footer>
    </div>