 <!-- Content starts here.... -->

    <div class="content">

        <!-- Heading section -->

        <div class="jumbotron">
            <h1 class="display-4">
                Extracurricular Activities
            </h1>

            <p>Indian Institute Of Technology Bombay, being the most esteemed engineering institute of India, has seen
                many facets of students when it comes to academics.</p>
            <p>We surveyed the passing out batch to get a more thorough insight into students mentality towards the
              extracurriculars they have done here at the institute. We get to see many aspects and attitudes of students
                in general towards them.</p>
            <p>Here is an overview of the same.</p>
            <ul>
                <li>Among the total responses, 3.273 responses out of 5 are affirmative that Position of
                    Responsibility has benefited them.</li>
                <li>Majority of the correspondents responded that they developed their Organizational skills
                    ,followed by Technical ,Sport ,Cultural and others. Very few responded as they did not pick
                    any skill.</li>
                <li>Majority of the students are either politically unbiased or inclined towards left.</li>
            </ul>
            <br>

            <div id="buttons">
                <a href="#ext"> <button type="button" class="btn btn-style">Extracurricular Activities</button> </a>
            </div>
        </div>

        <!-- Subsections start -->
        <h3 id="ext">Extracurricular Activities</h3>
        <div class="jumbotron" id="ext1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Extra Curr/ext1.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Does Position of Responsibility has benefited your personality and/or helped you secure a
                            lucrative job oﬀer/admission?</h4>
                        <p>Among the total responses, 3.273 responses out of 5 are affirmative that Position of
                            Responsibility has benefited them.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="jumbotron" id="ext2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Did IIT help you develop/pick-up any skill?</h4>
                        <p>Majority of the correspondents responded that they developed their Organizational skills
                            ,followed by Technical ,Sport ,Cultural and others. Very few responded as they did not pick
                            any skill.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Extra Curr/ext2.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="ext3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Extra Curr/ext3.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How would you describe your political leaning?</h4>
                        <p>Majority of the students are either politically unbiased or inclined towards left.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="buttons">
            <a href="#buttons"> <button type="button" class="btn btn-style">Back to Top</button> </a>
        </div>
        <div class="jumbotron">
            <div class="bottom">

                <div class="container p-3 my-3">

                    <div class="row">

                        <div class="col-sm-12">

                            <div class="mainlogo">
                                <a href="https://www.insightiitb.org/" target="_blank"><img
                                        src="assets/images/insightlogo.png" alt="Insight, IIT Bombay"></a>
                                <h5>Insight, IIT Bombay</h5>
                            </div>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-3">

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="https://summerblog.insightiitb.org/" target="_blank"><img
                                        src="assets/images/summerblog.png" alt="Summer Blog, Insight"></a>
                                <h5>Summer Blog, Insight</h5>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="http://seniorsurvey.insightiitb.org/" target="_blank"><img
                                        src="assets/images/seniorsurvey.png" alt="Senior Survey, Insight"></a>
                                <h5>Senior Survey, Insight</h5>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="http://gsmetre.insightiitb.org/" target="_blank"><img
                                        src="assets/images/gsmetre.png" alt="GS Metre, Insight"></a>
                                <h5>GS Metre, Insight</h5>
                            </div>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-auto">

                        <div class="col-md-12">

                            <h6 id="pp">Copyright © 2020 Insight, IIT Bombay</h6>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-3" id="bottom">
                        <div class="col-2  text-center">
                            <a class="d-block" href="mailto:insight@iitb.ac.in/" target="_blank">
                                <i class="fa fa-google fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.facebook.com/insight.iitbombay/" target="_blank">
                                <i class="fa fa-facebook fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.instagram.com/insight_iit_bombay/" target="_blank">
                                <i class="fa fa-instagram fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://twitter.com/insightiitb" target="_blank">
                                <i class="fa fa-twitter fa-3x mb-3" style="color: #1D6677; "></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.youtube.com/channel/UCzwz_VQHTKtfmwq0XT6OFaQ"
                                target="_blank">
                                <i class="fa fa-youtube fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
