<!-- Content starts here.... -->

    <div class="content">

        <a id="top"></a>

        <!-- Heading section -->

        <div class="jumbotron">
            <h1 class="display-4">
                Career
            </h1>

            <p>Indian Institute Of Technology Bombay, being the most esteemed engineering institute of India, has seen
                many facets of students when it comes to academics.</p>
            <p>We surveyed the passing out batch to get a more thorough insight into students mentality towards their
                career. We get to see many aspects and attitudes of students in general towards their career choices
                after IIT
                Bombay.</p>
            <p>Here is an overview of the same.</p>
            <ul>
                <li>74.29% of the students will be staying in India only. Some students are also going to the
                    USA.</li>
                <li>More than half of the correspondents, 54.98% , reacted in a negative manner of changing mind
                    regarding sector after completing a major intern, and 45.02% reacted in a affirmative
                    manner.</li>
                <li>GRE is the most popular choice among the students planning for further studies. GATE being
                    the least popular one.</li>
            </ul>
            <br>

            <div style="text-align: center;">
                <a (click)="navigateWithin('career')"> <button type="button" class="btn btn-style">Career Path</button> </a>
                <a (click)="navigateWithin('post')"> <button type="button" class="btn btn-style">Posting</button> </a>
                <a (click)="navigateWithin('core')"> <button type="button" class="btn btn-style">Core Interest</button> </a>
                <a (click)="navigateWithin('intern')"> <button type="button" class="btn btn-style">Internships</button> </a>

            </div>
        </div>

        <!-- Subsections start -->

        <div id="career" style="text-align: center;">
            <hr>
            <h3> Career Path </h3>
            <hr>
        </div>

        <div class="jumbotron" id="career1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>What are you doing right now/will be doing a few months from now?</h4>
                        <p>38.1% correspondents are working in Technological Sector while 20.95% are pursuing higher
                            studies.
                            Other majority is 12.38% students working in the corporate non-core sector. </p>
                        <p>3.33% said that they had no clue.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Career/career1.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="career2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Are you interested in the career line you have choosen?</h4>
                        <p>Almost 53% of the people are happy with whatever career path they have decided to follow,
                            whereas almost 40% of the people are also not very sure of what they want to do and are
                            still exploring.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Career/career2.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="career3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>In which field are you going to work?</h4>
                        <p>Some students have planned to pursue further studies and research in their field of interest.
                            It is not very surprising to see that some of them don’t have a clue about what they’ll be
                            doing 5 years down the line.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Career/career3.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="career4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Have you taken/plan on taking any higher studies exam?</h4>
                        <p>GRE is the most popular choice among the students planning for further studies. GATE being
                            the least popular one.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Career/career4.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>


        <div id="post" style="text-align: center;">
            <hr>
            <h3> Posting </h3>
            <hr>
        </div>

        <div class="jumbotron" id="post1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Where have been you posted?</h4>
                        <p>74.29% of the students will be staying in India only. Some students are also going to the
                            USA.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Career/post1.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="post2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Where are you posted in India?</h4>
                        <p>Most of the graduating students will be heading off to Bangalore, followed by Mumbai.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Career/post2.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="post3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Where do you wish you were heading off to?</h4>
                        <p>It’s not shocking to notice that most of the students wanted to stay in India only, and
                            that’s what they will be doing as suggested by the previous graph.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Career/post3.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="post4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Why do you want to go abroad?</h4>
                        <p>129 students want to go abroad beacause they think the lifestyle and opportunities are better
                            there, as compared to India.</p>
                        <p>63 students don't want to go abroad.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Career/post4.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>


        <div id="core" style="text-align: center;">
            <hr>
            <h3> Core Interest </h3>
            <hr>
        </div>

        <div class="jumbotron" id="core1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Would you have pursued the core sector had there been more opportunities?</h4>
                        <p>Majority of the correspondents ,40.76% , said ‘question not applicable to me’ and 32.23%
                            correspondents reacted in a affirmative manner and rest in a negative manner.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Career/core1.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div id="intern" style="text-align: center;">
            <hr>
            <h3> Internships </h3>
            <hr>
        </div>

        <div class="jumbotron" id="intern1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Have you had a change of mind regarding the sector of your career after completing a major
                            intern?</h4>
                        <p>More than half of the correspondents, 54.98% , reacted in a negative manner of changing mind
                            regarding sector after completing a major intern, and 45.02% reacted in a affirmative
                            manner.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Career/intern1.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="intern2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4> How much did your internships help you in making an effective career choice?</h4>
                        <p>According to the above plot, we can say that most of the students have either ‘massive
                            influence’ or ‘mediocre influence’ and few have ‘made no difference’ and some of them
                            are ‘are not sure’ , but there are very few who didn’t intern anywhere.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Career/intern2.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center;">
            <a (click)="ns.goTo('index/academics')"> <button type="button" class="btn btn-style">&larr; Academics</button> </a> 
            <a (click)="navigateWithin('top')"> <button type="button" class="btn btn-style">Back to Top</button> </a> 
            <a (click)="ns.goTo('index/lifestyle')"> <button type="button" class="btn btn-style">Lifestyle &rarr;</button> </a> 
            <br><br>
        </div>

        <app-footer></app-footer>

    </div>