<!-- Content starts here.... -->

    <div class="content">

        <!-- Heading section -->

        <div class="jumbotron">
            <h1 class="display-4">
                Miscellaneous
            </h1>

            <p>Indian Institute Of Technology Bombay, being the most esteemed engineering institute of India, has seen
                many facets of students when it comes to academics.</p>
            <p>This part of the survey focuses on the miscellaneous things during their stay at IIT Bombay</p>
            <p>Here is an overview of the same.</p>
            <ul>
                <li>A total of 215 students filled the survey form and presented their views across a wide range of
                    questions ranging from General Lifestyle to Mental Health to Smoking Habits and many more.</li>
                <li>Around 36.28% of the students pegged their monthly expenditure between 1000 and 3000 Rupees,
                    while around 29% of the respondents spend over 5000 Rupees per month.</li>
                <li>Most of the students did not have any smoking habits, while a considerable (8.4%) number of
                    our responders admitted to being chain smokers, who smoked around a pack per day. Around
                    1-10th students admitted to smoking rarely(once in two-three weeks).</li>
            </ul>
            <br>

            <div id="buttons">
                <a href="#hostel"> <button type="button" class="btn btn-style">Hostel & Mess Facilities</button> </a>
                <a href="#opin"> <button type="button" class="btn btn-style">General Opinions</button> </a>
            </div>
        </div>

        <!-- Subsections start -->
        <h3 id="hostel">Hostel & Mess Facilities</h3>
        <div class="jumbotron" id="hostel1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Misce/hostel1.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Which Hostel did you Stay in?</h4>
                        <p>Most of the students from the responses were the residents of Hostel 2 followed by the newly
                            formed Hostel 18 with the number of 39 students and 29 students respectively. Following both
                            comes 28 students from Hostel 3 and the other students distributed among other hostels more
                            or less evenly.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="hostel2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How satisfied were you with your hostel rooms?</h4>
                        <p>Highest 39.53% students were unsatisfied with their hostels while combinely around 35%
                            students were satisfied.</p>
                        </div>
                    </div>
                                            <div class="col-lg-6">
                                                <div class="data-img">
                                                    <br><img src="assets/images/Misce/hostel2.png" width=96%><br>
                                                </div>
                                            </div>
            </div>
        </div>
        <div class="jumbotron" id="hostel3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Misce/hostel3.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>What do you think of the mess food in hostels?</h4>
                        <p>Most of the students were either unhappy with the food provided in Mess or got used with it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h3 id="opin">General Opinions</h3>
        <div class="jumbotron" id="opin1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4> What are your religious beliefs?</h4>
                        <p>Most of the students don't have any religious beliefs.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Misce/opin1.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="opin2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Misce/opin2.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Do you feel a disconnect from other non-IITians in your age group?</h4>
                        <p>Majority of the correspondents ,feels disconnect but for some it doesn’t matter. Few
                            correspondents doesn’t feel any disconnect.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="opin3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Personality rating of an average IITian?</h4>
                        <p>Data is highly uneven, nothing can be predicted directly.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Misce/opin3.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="jumbotron" id="opin4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Misce/opin4.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>Which of these would you say you failed to develop/missed out on because of studying in IIT?
                        </h4>
                        <p>Most of the student believe that, IIT improves everyones overall skillsets.</p>
                        <p>25.47% students believe that they failed to develope social skills in them.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="opin5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>What activities did you keep in store for your last sem? (Majorly due to FOMO :P)</h4>
                        <p>The responses include almost all the popular events of IIT Bombay which a student don't
                                want to miss out.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Misce/opin5.png" width=96%><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="opin6">
            <div class="row">
                <div class="col-lg-6">
                    <div class="data-img">
                        <br><img src="assets/images/Misce/opin6.png" width=96%><br>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="data-text">
                        <h4>How would you want your convocation to be held?</h4>
                        <p>This was one of the most interesting question of the survey. Though, the conditions didn't
                            permitted an offline Convocation Ceremony, all the students enjoyed the 'IIT Bombay Virtual
                            Convocation Ceremony 2020-21'.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="buttons">
            <a href="#buttons"> <button type="button" class="btn btn-style">Back to Top</button> </a>
        </div>
        <div class="jumbotron">
            <div class="bottom">

                <div class="container p-3 my-3">

                    <div class="row">

                        <div class="col-sm-12">

                            <div class="mainlogo">
                                <a href="https://www.insightiitb.org/" target="_blank"><img
                                        src="assets/images/insightlogo.png" alt="Insight, IIT Bombay"></a>
                                <h5>Insight, IIT Bombay</h5>
                            </div>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-3">

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="https://summerblog.insightiitb.org/" target="_blank"><img
                                        src="assets/images/summerblog.png" alt="Summer Blog, Insight"></a>
                                <h5>Summer Blog, Insight</h5>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="http://seniorsurvey.insightiitb.org/" target="_blank"><img
                                        src="assets/images/seniorsurvey.png" alt="Senior Survey, Insight"></a>
                                <h5>Senior Survey, Insight</h5>
                            </div>

                        </div>

                        <div class="col-sm-4">

                            <div class="bot1">
                                <a href="http://gsmetre.insightiitb.org/" target="_blank"><img
                                        src="assets/images/gsmetre.png" alt="GS Metre, Insight"></a>
                                <h5>GS Metre, Insight</h5>
                            </div>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-auto">

                        <div class="col-md-12">

                            <h6 id="pp">Copyright © 2020 Insight, IIT Bombay</h6>

                        </div>

                    </div>
                    <hr>

                    <div class="row my-3" id="bottom">
                        <div class="col-2  text-center">
                            <a class="d-block" href="mailto:insight@iitb.ac.in/" target="_blank">
                                <i class="fa fa-google fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.facebook.com/insight.iitbombay/" target="_blank">
                                <i class="fa fa-facebook fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.instagram.com/insight_iit_bombay/" target="_blank">
                                <i class="fa fa-instagram fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://twitter.com/insightiitb" target="_blank">
                                <i class="fa fa-twitter fa-3x mb-3" style="color: #1D6677; "></i>
                            </a>
                        </div>

                        <div class="col-2  text-center">
                            <a class="d-block" href="https://www.youtube.com/channel/UCzwz_VQHTKtfmwq0XT6OFaQ"
                                target="_blank">
                                <i class="fa fa-youtube fa-3x mb-3" style="color: #1D6677;"></i>
                            </a>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>